@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap);

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #333;
  margin: 0;
  padding: 0;
  z-index: -10;
}

html {
	scroll-behavior: smooth;
}

html::-webkit-scrollbar {
	width: 1.5vh;
}

html::-webkit-scrollbar-thumb {
	background-color: rgba(77, 77, 77, 0.7);
	border-radius: 6px;
	-webkit-transition: all 1.5s ease 0s;
}

html::-webkit-scrollbar-thumb:hover {
	background-color: rgba(77, 77, 77, 1);
}

html::-webkit-scrollbar-track {
	background-color: rgba(51, 51, 51, 1);
}

header {
  display: flex;
  top: 0px !important;
  left: 0px !important;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: fixed;
  max-height: 3cm;
  width: 100%;
  margin: 0;
  border-bottom: 5px solid #17a512;
  z-index: 2;
}

header nav {
  display: flex;
  justify-content: space-between;
  right: 0;
  margin-right: 5%;
}

header a {
  text-decoration: none;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1cm;
  padding-bottom: 1cm;
  font-size: 1cm;
}

header a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

header img {
  max-height: inherit;
}

main {
  top: 0;
  left: 0;
  height: 100%;
  margin-top: 3cm;
  padding: 0;
  background-color: #333;
  z-index: -10;
}

.indexBanner {
  position: fixed;
  width: 100%;

  z-index: -1;
}

.container {
  position: absolute;
  width: 100%;
  border-top: 5px solid #17a512;
  background-color: #333;
  height: 100%;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexContainer div {
  margin-top: 20px;
}

.ipGrabber {
  padding: 20px;
  color: #f2f2f2;
  font-size: larger;
}

.ipGrabber h1 {
  text-align: center;
  font-size: 1cm;
}

.indexArticle {
  background-color: #333;
  padding: 20px;
  color: #f2f2f2;
  margin: 20px;
  font-size: larger;
}

.indexArticle h1 {
  text-align: center;
  font-size: 1cm;
}

.memeContainerRow {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin: 5px;
  width: 100%;
}

.memeContainerColumn {
  display: flex;
  flex-direction: column;
  width: 24%;
  margin: 5px;
  align-items: top;
}

.memeContainer img {
  display: block;
  width: 100%;
  height: auto;
}
